In [11]:
import pandas as pd
import numpy as np 
import seaborn as sea 
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv("D:\\Resume_and_finshed_projects\\Obesity\\Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv") 
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

EDA and Data Cleaning

In [29]:
df['Data_Value'].isnull().sum() 

df = df.dropna(subset= ['Data_Value'])
print(df['Sample_Size'].isnull().sum())

0

In [46]:
print('Datasources,', df['Datasource'].unique()) 
print('Classes', df['Class'].unique()) 
print('Questions ', df['Question'].nunique(), df['Question'].unique()) 
print('# of Locations ', df['LocationAbbr'].nunique())  
print('Topiic', df['Topic'].unique())

Datasources, ['Behavioral Risk Factor Surveillance System']
Classes ['Obesity / Weight Status' 'Fruits and Vegetables' 'Physical Activity']
Questions  9 ['Percent of adults aged 18 years and older who have obesity'
 'Percent of adults aged 18 years and older who have an overweight classification'
 'Percent of adults who report consuming fruit less than one time daily'
 'Percent of adults who report consuming vegetables less than one time daily'
 'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week'
 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)'
 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week'
 'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)'
 'Percent of adults who engage in no leisure-time physical activity']
# of Locations  55
Topiic ['Obesity / Weight Status' 'Fruits and Vegetables - Behavior'
 'Physical Activity - Behavior']

In [55]:
df_subset = df[['YearStart','LocationAbbr','Class','Question','Data_Value','Age(years)','Education','Gender','Income','Race/Ethnicity','Sample_Size']]

In [58]:
df_subset.head()

,YearStart,LocationAbbr,Class,Question,Data_Value,Age(years),Education,Gender,Income,Race/Ethnicity,Sample_Size
0,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.0,NaN,NaN,NaN,NaN,NaN,7304.0
1,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.3,NaN,NaN,Male,NaN,NaN,2581.0
2,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,31.8,NaN,NaN,Female,NaN,NaN,4723.0
3,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,33.6,NaN,Less than high school,NaN,NaN,NaN,1153.0
4,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.8,NaN,High school graduate,NaN,NaN,NaN,2402.0